<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourkit.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

</head>
<body class="bg-gray-100 h-screen flex justify-center items-center">
    <div id="toast-container" class="fixed top-5 right-5 z-50"></div>

    <div class="flex flex-col md:flex-row w-full md:w-3/4 lg:w-2/3 h-full md:h-3/4 bg-white rounded-lg overflow-hidden shadow-lg">
        <div class="md:w-1/2 p-6 md:p-12 bg-blue-200 flex flex-col items-center justify-center">
            <img src="{{url_for('static',filename='assets/img/n.png')}}" alt="Doctor Illustration" class="w-48 md:w-64">
            <p class="text-gray-700 text-center text-lg mb-4">Step into a healthier you with our AI doctor at your fingertips.</p>
            <p class="text-gray-700 text-center">Already have an account? <a href="{{ url_for('login') }}" class="text-blue-500 hover:underline">Log In</a></p>
        </div>
        <div class="md:w-1/2 p-6 md:p-12 overflow-y-auto max-h-screen">
            <div class="flex justify-center mb-6 mt-6 md:mt-0">
                <img src="{{url_for('static',filename='assets/img/q12.png')}}" alt="Quantum Doctor Logo" class="h-24 w-auto">
            </div>
            <h2 class="text-2xl text-center text-blue-800 mb-6">Create an account</h2>
            <form id="registrationForm" method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label for="first_name" class="block text-gray-700">First name<span style="color:red">*</span></label>
                        <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="first_name" name="first_name" required>
                    </div>
                    <div>
                        <label for="last_name" class="block text-gray-700">Last name<span style="color:red">*</span></label>
                        <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="last_name" name="last_name" required>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label for="email" class="block text-gray-700">Email address<span style="color:red">*</span></label>
                        <input type="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="contact" class="block text-gray-700">Contact<span style="color:red">*</span></label>
                        <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="contact" name="contact" required>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label for="password" class="block text-gray-700">Password<span style="color:red">*</span></label>
                        <input type="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="password" name="password" required>
                    </div>
                    <div>
                        <label for="confirm_password" class="block text-gray-700">Confirm Password<span style="color:red">*</span></label>
                        <input type="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="confirm_password" name="confirm_password" required>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label for="doctorAvatar" class="block text-gray-700">Photo<span style="color:red">*</span></label>
                        <input type="file" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="doctorAvatar" name="doctorAvatar" required>
                    </div>
                    <div>
                        <label for="role" class="block text-gray-700">Role<span style="color:red">*</span></label>
                        <select id="role" name="role" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" required onchange="handleRoleChange()">
                            <option value="user">Patient</option>
                            <option value="doctor">Doctor</option>
                        </select>
                    </div>
                </div>
                <div id="doctorFields" class="mb-4" style="display: none;">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                        <div>
                            <label for="specialization" class="block text-gray-700">Specialization<span style="color:red">*</span></label>
                            <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="specialization" name="specialization">
                        </div>
                        <div>
                            <label for="location" class="block text-gray-700">Location<span style="color:red">*</span></label>
                            <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="location" name="location">
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                        <div>
                            <label for="about" class="block text-gray-700">About<span style="color:red">*</span></label>
                            <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="about" name="about">
                        </div>
                        <div>
                            <label for="experience" class="block text-gray-700">Experience<span style="color:red">*</span></label>
                            <input type="number" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="experience" name="experience">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="medical_license" class="block text-gray-700">Medical License<span style="color:red">*</span></label>
                        <input type="file" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="medical_license" name="medical_license">
                    </div>
                    <div class="mb-4">
                        <label for="medical_school_certificate" class="block text-gray-700">Medical School Certificate<span style="color:red">*</span></label>
                        <input type="file" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="medical_school_certificate" name="medical_school_certificate">
                    </div>
                    <div class="mb-4">
                        <label for="nysc_certificate" class="block text-gray-700">NYSC Certificate<span style="color:red">*</span></label>
                        <input type="file" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" id="nysc_certificate" name="nysc_certificate">
                    </div>
                </div>
                <button type="submit" class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200">Register</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        // Role selection and doctor-specific fields toggle
        document.getElementById('role').addEventListener('change', function () {
            handleRoleChange();
        });

     // Function to handle role change and toggle doctor fields
function handleRoleChange() {
    var role = document.getElementById('role').value;
    var doctorFields = document.getElementById('doctorFields');
    var requiredFields = ['specialization', 'location', 'about', 'experience', 'medical_license', 'medical_school_certificate', 'nysc_certificate'];

    if (role === 'doctor') {
        doctorFields.style.display = 'block';
        requiredFields.forEach(function (field) {
            document.getElementById(field).required = true;
        });
    } else {
        doctorFields.style.display = 'none';
        requiredFields.forEach(function (field) {
            document.getElementById(field).required = false;
            document.getElementById(field).value = ''; // Clear values of doctor-specific fields
        });
    }
}

document.getElementById('registrationForm').addEventListener('submit', function(event) {
        const avatar = document.getElementById('doctorAvatar').files[0];
        const certificate = document.getElementById('certificate').files[0];
        const license = document.getElementById('license').files[0];
        const medicalSchoolCertificate = document.getElementById('medicalSchoolCertificate').files[0];
        const contact = document.getElementById('contact').value;

        let isValid = true;

        // Validate doctorAvatar
        if (avatar && !['image/png', 'image/jpg', 'image/jpeg'].includes(avatar.type)) {
            showToast('Please upload an image file (png, jpg, jpeg) for the avatar.', 'error');
            isValid = false;
        }

        // Validate certificate
        if (certificate && certificate.type !== 'application/pdf') {
            showToast('Please upload a PDF file for the certificate.', 'error');
            isValid = false;
        }

        // Validate license
        if (license && license.type !== 'application/pdf') {
            showToast('Please upload a PDF file for the medical license.', 'error');
            isValid = false;
        }

        // Validate medical school certificate
        if (medicalSchoolCertificate && medicalSchoolCertificate.type !== 'application/pdf') {
            showToast('Please upload a PDF file for the medical school certificate.', 'error');
            isValid = false;
        }

        // Validate contact number
        const phonePattern = /^[0-9]{10,15}$/; // Adjust this regex according to your phone number format
        if (!phonePattern.test(contact)) {
            showToast('Please enter a valid phone number.', 'error');
            isValid = false;
        }

        // Prevent form submission if not valid
        if (!isValid) {
            event.preventDefault();  // Stop form submission
            return;
        }
    });

    function showToast(message, type) {
        const toastContainer = document.getElementById("toast-container");
        const toast = document.createElement("div");
        toast.className = "bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg mb-2 transition duration-300 transform";
        if (type === "error") {
            toast.className = "bg-red-500 text-white px-6 py-3 rounded-lg shadow-lg mb-2 transition duration-300 transform";
        }
        toast.innerText = message;
        toastContainer.appendChild(toast);

        // Automatically remove the toast after 3 seconds
        setTimeout(() => {
            toast.classList.add('opacity-0');
            setTimeout(() => toast.remove(), 300);
        }, 3000);
    }

    document.addEventListener("DOMContentLoaded", function() {
        const toastContainer = document.getElementById("toast-container");
        const flashMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
        
        flashMessages.forEach(function(message) {
            showToast(message[1], message[0]);
        });
    });
    </script>
</body>
</html>
